.dialog-container-custom .mat-dialog-container {
  background: #2924579e !important;
  width: 88% !important;
}
.rightmargin {
  margin-right: 15px;
}
.email {
  width: 95%;
}
.actionbutton,
.heading {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}
.btn {
  background: rgb(156 158 163 / 61%) !important;
}
