<!-- Toolbar -->
<div class="toolbar" role="banner">
  <button
    mat-icon-button
    color="accent"
    aria-label="Example icon button with a menu icon"
    (click)="drawer.toggle()"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span>Jumbo GPS</span>
  <div class="spacer"></div>
  <p class="k-block">
    <kendo-dropdownbutton [data]="data" look="bare">
      <mat-icon>person</mat-icon>
    </kendo-dropdownbutton>
  </p>
</div>

<!-- display map remaining entire screen -->
<mat-drawer-container>
  <mat-drawer
    #drawer
    mode="push"
    style="max-width: 300px;"
    [mode]="mobileQuery.matches ? 'over' : 'side'"
    fixedTopGap="56"
  >
    <form style="padding: 10px;">
      <mat-form-field>
        <mat-label>Search By ID</mat-label>
        <input
          matInput
          type="text"
          [(ngModel)]="ID"
          [ngModelOptions]="{ standalone: true }"
          (ngModelChange)="showmarkerWithId()"
        />
        <button
          mat-button
          *ngIf="ID"
          matSuffix
          mat-icon-button
          aria-label="Clear"
          (click)="ID = ''; showmarkerWithId()"
        >
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Filter By Type</mat-label>
        <mat-select [(value)]="selectedType" (selectionChange)="typeChange()">
          <mat-option>None</mat-option>
          <mat-option *ngFor="let type of types" [value]="type.value">{{
            type.viewValue
          }}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field style="width: 250px;">
        <mat-label>Filter By Date Time</mat-label>
        <input
          matInput
          type="text"
          [(ngModel)]="date"
          [owlDateTime]="dt"
          [owlDateTimeTrigger]="dt"
          [selectMode]="'range'"
          [ngModelOptions]="{ standalone: true }"
          (ngModelChange)="dateChange()"
        />
        <button
          mat-button
          *ngIf="date"
          matSuffix
          mat-icon-button
          aria-label="Clear"
          (click)="date = ''; typeChange()"
        >
          <mat-icon>close</mat-icon>
        </button>
        <owl-date-time pickerMode="dialog" #dt></owl-date-time>
      </mat-form-field>
      <increment-input
        [value]="noOfMarker"
        [step]="5"
        [min]="0"
        [max]="10000000"
        [wrap]="false"
        (countChanged)="updateMarkerCount($event)"
      ></increment-input>
    </form>
  </mat-drawer>
  <mat-drawer-content>
    <app-maps></app-maps>
  </mat-drawer-content>
</mat-drawer-container>
